@{
    ViewData["Title"] = "Home";
}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner" style="background-image: url(/images/bg1.jpg); opacity:0.8;"></div>
            <div class="carousel-caption">
                <h2 class="animate__animated animate__backInDown">Leadership and <span>Teamwork</span> </h2>
                <p class="animate__animated animate__pulse"><a asp-action="Signup" asp-controller="Home">SignIn Member</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="banner" style="background-image: url(/images/new2.jpg)"></div>
            <div class="carousel-caption">
                <h2 class="animate__animated animate__backInDown">Commitment to <span>Excelence</span></h2>
                <p class="animate__animated animate__pulse"><a asp-action="Signup" asp-controller="Home">SignIn Member</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="banner" style="background-image: url(/images/new3.jpg)"></div>
            <div class="carousel-caption">
                <h2 class="animate__animated animate__backInDown">Speed and <span>Agility</span></h2>
                <p class="animate__animated animate__pulse"><a asp-action="Signup" asp-controller="Home">SignIn Member</a></p>
            </div>
        </div>
    </div>
</div>